.outer-container {
    font-family: sans-serif;
    margin: 0 auto;
    background-image: url('../img/background_milan.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    /* fix height 3px overflow 768 vs 786 paddings line height? */
   }

header {
    margin-bottom: 45px;
}

.logo {
    float: left;
    margin-top: 49px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.contact-section {
    float: right;
    margin-top: 57px;
}

.logo-image {
    width: 46px;
    height: 44px;
    background-image: url('../img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 15px;
}

.logo-text {
    width: 105px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.logo:hover {
    color: #f26522
}

.logo:hover > .logo-image {
    background-image: url('../img/logo_orange.png');
}

.text-milan {
    font-size: 29px;
    margin-bottom: 9px;
}

.text-holidays {
    font-size: 19px;
    text-align: justify;
}

.contact-link   {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.email {
    margin-bottom: 5px;
}

.telephone {
    text-align: right;
}

.content-container {
    width: 1064px;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 6px;
}

.card {
    width: 311px;
    margin-right: 65px;
    float: left;
    text-align: center;
}

.card:nth-of-type(3n) {
    margin-right: 0px;
}

.card:nth-of-type(3n+2),
.card-tooltip:nth-of-type(3n+2) {
    width: 312px;
}

.img-content {
    padding: 2px;
    height: 200px;
    background: linear-gradient(to top, transparent, #626262 10%, #fefefe);
}

.overflow-container {
    overflow: hidden;
    position: relative;
    line-height: 0.5;
}

.card-link {
    text-decoration: none;
    color: #fff;
}

.card-link:hover > .activity-text{
    color: #f26522;
}

.card-link:hover .card-tooltip {
    bottom: 0;
}

.card-tooltip {
    bottom: -63px;
    width: 311px;
    height: 63px;
    background-color: #f26522;
    position: absolute;
    transition: bottom 0.3s ease;
}

.tooltip-price-content {
    margin: 16px 0 17px 21px;
    float: left;
    width: 50px;
    text-align: left;
}

.from-text {
    font-size: 10px;
    margin-bottom: 7px;
    line-height: 0.8;
}

.price {
    font-size: 20px;
    line-height: 0.75;
}

.tooltip-details {
    float: right;
    margin: 35px 40px 17px 0;
    font-size: 14px;
    line-height: 0.8;
}

.view-details {
    position: relative;
}

.view-details::after {
    position: absolute;
    content: "";
    right: -18px;
    width: 7px;
    height: 10px;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.activity-text {
    margin-top: 20px;
    margin-bottom: 55px;
}

.footer-text {
    text-align: center;
    font-size: 12px;
    color: #fff;
}
            
.clearfix::after { 
    content: "";
    display: block; 
    clear: both;
}