.container {
    width: 1366px;
    font-family: sans-serif;
    margin: 0 auto;
    background-image: url('../img/background_milan.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* todo fix height */
   }

/* .container::before {
    width: 1366px;
    height: 768px;
    content: "";
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    filter: blur(12px);
    no good solution https://stackoverflow.com/questions/20039765/how-to-apply-a-css-3-blur-filter-to-a-background-image
 } */

header {
    margin-bottom: 45px;
}

.logo {
    float: left;
    margin-left: 155px;
    margin-top: 49px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.logo:hover .logo-image {
    color: #f26522
    /* how to change image? export new? */
}

.contact-section {
    float: right;
    margin-right: 148px;
    margin-top: 57px;
}

.logo-image {
    display: inline-block;
    margin-right: 15px;
}

.logo-text {
    width: 105px;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.text-milan {
    font-size: 29px;
    margin-bottom: 9px;
}

.text-holidays {
    font-size: 19px;
    text-align: justify;
}

.contact-link   {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.email {
    margin-bottom: 5px;
}

.telephone {
    text-align: right;
}


.card-view {
    width: 1064px;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 6px;
}

.card {
    width: 311px;
    margin-right: 65px;
    float: left;
    text-align: center;
}

.card:nth-child(3n) {
    margin-right: 0px;
}

.card:nth-child(3n+2) {
    width: 312px;
}

.bg-cover {
    border: 2px solid white;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.card-link {
    text-decoration: none;
    color: #fff;
}

.card1 {
    background-image: url("../img/card1.png");
}

.card2 {
    background-image: url("../img/card2.png");
}

.card3 {
    background-image: url("../img/card3.png");
}

.card4 {
    background-image: url("../img/card4.png");   
}

.card5 {
    background-image: url("../img/card5.png");
}

.card6 {
    background-image: url("../img/card6.png");
}

.activity-text {
    margin-bottom: 55px;
}

.footer-text {
    text-align: center;
    padding-bottom: 20px;
    font-size: 12px;
    color: #fff;
}
            
.clearfix::after { 
    content: "";
    display: block; 
    clear: both;
}